In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
np.random.seed(100)
cols = ['Janeiro','Mar√ßo','Maio','Julho','Agosto','Outubro','Novembro']
lin  = np.arange(1,32)
dados = np.random.randint(492,2050,size=(31,7))
df = pd.DataFrame(data=dados, index = lin, columns = cols)
df

    Janeiro  Mar√ßo  Maio  Julho  Agosto  Outubro  Novembro
1      2036   1284   571    842     545     2042      1294
2      1501   1244   772   1744    1832     1404      2023
3      1609    578   878    907    1389     1657      1249
4      1104   1520  1095   1327     627      541      1947
5       809   1274  1459   1255    1852      494      1381
6      1109    970  1919    555    1697      775      1754
7      1885   1436  1819   1298     664      766       684
8      1444   1422   929    765    2041     1110      1546
9       509   1569   560    980    1863      967      1185
10     1338   1516   505   1701    1976      854       623
11     1074   1728   886   1731    2018      987      1135
12     1365   1692  1696    528    1331      530      1730
13     1610   1230  1686   1344     587     1592       806
14      594   1430   898   1772    1254      718      1407
15      688    938  1310   1968     911      899      1257
16     2037   1436  2012    901    1954      754      1638
17     1702   1811   778   1381    1070      735      1412
18      931    765  1305   2001     581      921      1295
19     1532   2040  1982   1113    1583      712      1739
20     1280    630  1268    965    1204     1930      1505
21     1865   1379  1048   1761    1573      875      1260
22     1186   1480  1905   1951     838      526       943
23     1354   1186  1593    704     877     1530      1805
24      640    660  1993    934    1288     1214      1994
25     1006   1067  1373   1646    1731      637      1753
26     1766    969  1228    566    1953     1583      1160
27     1598   1490  1917   1145    1085     1377      1285
28     1710   1147   856    614     503     1105      1496
29      530   1315   805    579    1183     1246       998
30     1185   1197  1814    664     636     1698       675
31      575    994  1872   1252    1250     1505       605